.nav {
  padding: 18px 0 14px;
}

.nav__container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__left {
  display: flex;
  flex: 1 1 auto; 
  align-items: center;
  gap: 8px;
  min-width: 0; 
}

.nav__left > svg:first-child {
  display: none;
  width: 22px;
  height: 22px;
  opacity: 0.95;
  cursor: pointer;
  color: white;
}

.nav__brand {
  flex: 0 0 auto;
}


.nav__logo {
  height: 60px;
  width: auto;
  display: block;
  
}

.nav__search {
  flex: 1 1 520px;
  max-width: 520px;
  margin-left: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.65);
}

.nav__searchIcon {
  width: 16px;
  height: 16px;
  display: block;
  opacity: 0.9;
}

.nav__searchInput {
  flex: 1;
  min-width: 0;
  background: transparent;
  border: 0;
  outline: none;
  color: #fff;
}

.nav__searchInput::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.nav__clearBtn {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 0;
  background: transparent;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;

  display: grid;
  place-items: center;
}

.nav__clearBtn:hover {
  background: rgba(255, 255, 255, 0.10);
}

.nav__locale {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}
.nav__flag{
    height: 16px;
    width: auto;
}

.nav__sep {
  opacity: 0.6;
  padding: 0 2px;
}
.nav__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav__iconBtn {
  width: 26px;
  height: 26px;
  display: block;
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}

.nav__iconBtn:hover {
  color: orange; 
}

.nav__right > svg:first-child {
  display: none;
}

@media (max-width: 760px) {
  .nav {
    padding: 10px 0;
  }

  .nav__logo {
    height: 34px;
  }
  .nav__left > svg:first-child {
    display: block;
  }
  .nav__search {
    display: none;
  }

  .nav__locale {
    display: none;
  }

  .nav__right > svg:first-child {
    display: block;
  }

  .nav__right {
    gap: 12px;
  }

  .nav__iconBtn {
    width: 24px;
    height: 24px;
  }
}
